.widecard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border:1px solid #660099;
  margin:30px 0px 30px 0px;
  width:50%;
  margin:30px auto;
}

.widecard:hover {
  color: #1b1d20;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(102, 0, 153,0.8), 0 10px 20px rgba(102, 0, 153,0.8);

}
.singlewidecard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border:1px solid #660099;
  margin:30px 0px 30px 0px;
  width:50%;
  height: 50%;
  margin:30px auto;
}

.singlewidecard:hover {
  color: #1b1d20;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(102, 0, 153,0.8), 0 10px 20px rgba(102, 0, 153,0.8);

}